node_modules/
.expo/
.firebase/
.vscode/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
private/
functions/
rest/
*.log
google-services.json
GoogleService-Info.plist


# macOS
.DS_Store
