node_modules/
.expo/
.firebase
.vscode/
web-build/
private/
functions/
rest/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
# Files for https://cloud-lightning.web.app/
*.log
google-services.json
GoogleService-Info.plist


# macOS
.DS_Store
