rules_version = '2'
service cloud.firestore {
  match /databases/{database}/documents {
  	// Group Rules 
  	match /groups/{groupId} {
			allow read: if exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid))
    }
    match /groups/{groupId}/messages/{messageId} {
    	allow read: if exists(/databases/$(database)/documents/groups/$(groupId)/members/$(request.auth.uid))
    }

  	// Message Container Rules 
  	match /messenger/{messengerId} {
      allow read: if (request.auth.token.dispatcher == true);
			allow read: if (request.auth.uid == messengerId);
    }
    match /messenger/{messengerId}/messages/{messageId} {
    	allow read: if (request.auth.token.dispatcher == true);
			allow read: if (request.auth.uid == messengerId);
    }    

    // User Rules
    match /users/{userId} {
      allow read: if request.auth != null
    }

    // Auth token
    match /users/{userId}/auth  {
      allow read,write: if false
    }
  }
}